* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

nav {
    border-right: 1px solid black;
    width: 300px;
    height: calc(100vh - 40px);
    padding: 20px;
}
main {
    padding: 20px;
}
#content {
    display: flex;
}

dialog {
    margin: auto;
    padding: 20px;
    min-width: 200px;
}

.h2 {
    color: #3a86ff;
    font-weight: 900;
    font-size: 2.8rem;
    margin-bottom: 5px;
    letter-spacing: -1px;
}

.label {
    color: #023e8a; /* Azul marinho escuro para contraste e leitura */
    margin-bottom: 30px;
    font-size: 1.1rem;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    text-align: left;
}

.input-group label {
    display: block;
    color: #023e8a;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.input-group input, select {
    width: 100%;
    padding: 14px 15px;
    border: 2px solid #caf0f8; /* Borda azul bem suave */
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
    color: #03045e;
    background-color: #f8fbff;
}

/* Efeito quando o usuário clica para digitar */
.input-group input:focus {
    border-color: #3a86ff;
    background-color: #ffffff;
    box-shadow: 0 0 0 4px rgba(58, 134, 255, 0.15); /* Sombra azul ao focar */
}

.btn {
    background-color: #3a86ff;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: #00509d; /* Azul mais fechado ao passar o mouse */
}

.btn:active {
    transform: scale(0.97);
}

.btn-danger {
    background-color: #ff0000;
}

.btn-danger:hover {
    background-color: #970000 !important;
}

.forgot-password {
    display: inline-block;
    margin-top: 15px;
    color: #023e8a;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #3a86ff;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

/* Style even rows */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Optional: Add a hover effect for better interactivity */
tbody tr:hover {
    background-color: #ddd;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
    height: 100vh;
}