body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.rainbow {
    height: 100vh;
    width: 0;
    top: -30px;
    position: absolute;
    transform: rotate(32deg);
    transform-origin: top right;
}
:root {
    --rainbow-edge-color: white;

    --rainbow-blue: rgb(96, 165, 250);
    --rainbow-cyan: rgb(94, 234, 212);
    --rainbow-pink: rgb(232, 121, 249);

    --rainbow-left-edge: -130px 0 80px 40px var(--rainbow-edge-color);
    --rainbow-right-edge: 130px 0 80px 40px var(--rainbow-edge-color);

    --rainbow-left-blue: -50px 0 0px 3px var(--rainbow-blue);
    --rainbow-left-cyan: -50px 0 0px 3px var(--rainbow-cyan);
    --rainbow-left-pink: -50px 0 0px 3px var(--rainbow-pink);

    --rainbow-center-blue: 0 0 0px 3px var(--rainbow-blue);
    --rainbow-center-cyan: 0 0 0px 3px var(--rainbow-cyan);
    --rainbow-center-pink: 0 0 0px 3px var(--rainbow-pink);

    --rainbow-right-blue: 50px 0 0px 3px var(--rainbow-blue);
    --rainbow-right-cyan: 50px 0 0px 3px var(--rainbow-cyan);
    --rainbow-right-pink: 50px 0 0px 3px var(--rainbow-pink);
}

.rainbow:nth-child(1) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-cyan), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 44.1s linear infinite slide;
    animation-delay: -1.8s;
}

.rainbow:nth-child(2) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-blue), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 43.2s linear infinite slide;
    animation-delay: -3.6s;
}

.rainbow:nth-child(3) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-pink), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 42.3s linear infinite slide;
    animation-delay: -5.4s;
}

.rainbow:nth-child(4) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-pink), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 41.4s linear infinite slide;
    animation-delay: -7.2s;
}

.rainbow:nth-child(5) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-blue), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 40.5s linear infinite slide;
    animation-delay: -9s;
}

.rainbow:nth-child(6) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-cyan), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 39.6s linear infinite slide;
    animation-delay: -10.8s;
}

.rainbow:nth-child(7) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-blue), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 38.7s linear infinite slide;
    animation-delay: -12.6s;
}

.rainbow:nth-child(8) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-cyan), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 37.8s linear infinite slide;
    animation-delay: -14.4s;
}

.rainbow:nth-child(9) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-pink), var(--rainbow-right-blue), var(--rainbow-right-edge);
    animation: 36.9s linear infinite slide;
    animation-delay: -16.2s;
}

.rainbow:nth-child(10) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-pink), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 36s linear infinite slide;
    animation-delay: -18s;
}

.rainbow:nth-child(11) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-cyan), var(--rainbow-right-blue), var(--rainbow-right-edge);
    animation: 35.1s linear infinite slide;
    animation-delay: -19.8s;
}

.rainbow:nth-child(12) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-pink), var(--rainbow-right-blue), var(--rainbow-right-edge);
    animation: 34.2s linear infinite slide;
    animation-delay: -21.6s;
}

.rainbow:nth-child(13) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-blue), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 33.3s linear infinite slide;
    animation-delay: -23.4s;
}

.rainbow:nth-child(14) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-cyan), var(--rainbow-right-blue), var(--rainbow-right-edge);
    animation: 32.4s linear infinite slide;
    animation-delay: -25.2s;
}

.rainbow:nth-child(15) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-cyan), var(--rainbow-right-blue), var(--rainbow-right-edge);
    animation: 31.5s linear infinite slide;
    animation-delay: -27s;
}

.rainbow:nth-child(16) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-blue), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 30.6s linear infinite slide;
    animation-delay: -28.8s;
}

.rainbow:nth-child(17) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-blue), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 29.7s linear infinite slide;
    animation-delay: -30.6s;
}

.rainbow:nth-child(18) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-blue), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 28.8s linear infinite slide;
    animation-delay: -32.4s;
}

.rainbow:nth-child(19) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-cyan), var(--rainbow-right-blue), var(--rainbow-right-edge);
    animation: 27.9s linear infinite slide;
    animation-delay: -34.2s;
}

.rainbow:nth-child(20) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-pink), var(--rainbow-center-blue), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 27s linear infinite slide;
    animation-delay: -36s;
}

.rainbow:nth-child(21) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-blue), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 26.1s linear infinite slide;
    animation-delay: -37.8s;
}

.rainbow:nth-child(22) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-cyan), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 25.2s linear infinite slide;
    animation-delay: -39.6s;
}

.rainbow:nth-child(23) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-pink), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 24.3s linear infinite slide;
    animation-delay: -41.4s;
}

.rainbow:nth-child(24) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-blue), var(--rainbow-center-pink), var(--rainbow-right-cyan), var(--rainbow-right-edge);
    animation: 23.4s linear infinite slide;
    animation-delay: -43.2s;
}

.rainbow:nth-child(25) {
    box-shadow: var(--rainbow-left-edge), var(--rainbow-left-cyan), var(--rainbow-center-blue), var(--rainbow-right-pink), var(--rainbow-right-edge);
    animation: 22.5s linear infinite slide;
    animation-delay: -45s;
}

@keyframes slide {
    from {
        right: -25vw;
    }
    to {
        right: 100vw;
    }
}
.h {
    box-shadow: 0 0 17vh 68vh white;
    width: 100vw;
    height: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.container {
    position: fixed;
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container>div {
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 13px;
    box-shadow: #767676 1px 0 20px 1px;
}
.container>div>form{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}
.input-group {
    margin-bottom: 20px;
    width: 300px;
}

input {
    padding: 5px;
    border: 1px solid #e9ebf4;
    border-radius: 5px;
    font-size: 20px;
    background-color: #f7f7ff;
    width: 100%;
}